<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/29a69bbd-571d-4438-9497-7caa4f68e8d2/resourcegroups/APIWebDemos/providers/Microsoft.Web/sites/MyCodeViewportsApi2022</ResourceId>
    <ResourceGroup>APIWebDemos</ResourceGroup>
    <ApiResourceId>/subscriptions/29a69bbd-571d-4438-9497-7caa4f68e8d2/resourceGroups/APIWebDemos/providers/Microsoft.ApiManagement/service/MyCodeViewportsApiapi/apis/MyCodeViewportsApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mycodeviewportsapi2022.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>977d4ffa-3af4-4a48-8490-f6d9b09614e7</ProjectGuid>
    <MSDeployServiceURL>mycodeviewportsapi2022.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyCodeViewportsApi2022</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MyCodeViewportsApi2022</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <WebConfigEnvironmentVariables>ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.Azure.SignalR</WebConfigEnvironmentVariables>
  </PropertyGroup>
</Project>